# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temp / cache
tmp/
cache/
wandb/
runs/
outputs/

# Raw Data
data/raw/
data/brats_2d/
